<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!--<div id="logo" style="float:left;width:15%;height:50%">
      <a href="">
      <img src="https://img00.deviantart.net/3745/i/2015/047/1/1/goldring_astrology_logo_by_shadoerider-d8ia1we.png" 
      alt="Texas International College" title="Texas International College">
      </a>
    </div>-->
    <ul class="nav navbar-nav pull-right">
        <li><a routerLink="/personalityReport" routerLinkActive="active">Personality Report</a></li>
        <li><a routerLink="/generalAscendantReports" routerLinkActive="active">General Ascendant Report</a></li>  
        <li><a routerLink="/generalSignReports" routerLinkActive="active">General Sign Report</a></li>    
    </ul>
  </div>
</nav>
